<div class="container-fluid">
        <div class="jumbotron">
          <div class="row">
           <% if(loggedIn){ %>
              <div class="col-sm-12">
                <h3 class="text-center">Where to next, <%=name %>?</h3> 
                </div>

           <% } else {%>
              <div class="col-sm-12">
                <h3 class="text-center">Where are you going next?</h3> 
                </div>

           <% } %>
               
          </div>
               
          </div>           
          <br><br>
        <div class="row d-flex justify-content-between">
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control rounded-pill"
              id="destination"
              aria-describedby="destHelp"
              placeholder="Destination"
            />
          </div>
          <div class="col-sm-2">
            <a type="button" class="btn btn-info rounded-pill">
              <i class="fa fa-search" aria-hidden="true"></i>
              Search
            </a>
          </div>
          <div class="col-sm-4">
            <select class="form-control rounded-pill" id="sortBy">
              <option>Lowest Price First</option>
              <option>Highest Price First</option>
            </select>
          </div>
          <div class="col-sm-2">
            <a type="button" class="btn btn-info rounded-pill">
              <i class="fa fa-sort" aria-hidden="true"></i>
              Sort
            </a>
          </div>
        </div>
        </div>
      
</div>
<% hotels.forEach((hotel)=>{%>
  <div class="row">
    <% hotel.forEach((item)=>{%>
        <div class="col-sm-4">
          <div class="card mb-3 shadow-lg bg-white rounded rounded-top">
            <h3 class="card-header"><%= item.title %></h3>
            <div class="card-body d-flex justify-content-between">
              <h5 class="card-title" id="location"><%= item.location %></h5>
              <span class="badge badge-danger rounded-lg rounded-circle"><%= item.rating %></span>
            </div>
            <img
              src="<%= item.imagePath %>"
              class="d-block user-select-none"
              width="100%"
              height="200"
              aria-label="Placeholder: Image cap"
              focusable="false"
              role="img"
              preserveAspectRatio="xMidYMid slice"
              viewBox="0 0 318 180"
              style="font-size: 1.125rem; text-anchor: middle;"
            >
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
          
            <div class="card-body d-flex justify-content-between" >
               <span id="price" class="btn btn-info rounded-pill">BDT <%= item.price %> / Night</span> 
              
              <a href="/hotels/addList/<%- item.id %>" class="btn btn-outline-warning rounded-sm rounded-pill"> <i class="fas fa-bookmark"> Wishlist</i> </a>
            </div>
             <div class="card-body description">
              <p><%=  item.description %></p> 
             </div>

            <div class="card-body d-flex justify-content-between">
              <p class="card-text" id="item-id" style="display: none;"> <%- item.id %></p>
              <a href="/hotels/hotel/<%- item.id %>" class="btn btn-info rounded-pill ">View More <span class="material-icons">read_more </span></a>
              <% if(loggedIn){ %>
              <a href="/hotels/booking/<%- item.id %>" type="button" class="btn btn-primary rounded-pill">
                    <span class="material-icons"> book_online</span>  Book Now</a>
              <% } else {%>
                <a href="/hotels/bookingForm/<%- item.id %>" type="button" class="btn btn-primary rounded-pill">
                    <span class="material-icons"> book_online</span>  Book Now</a>
            <% } %>
            </div>
          </div> 
        </div>
        <% })%>
      </div>
<% })%>




 
  